In [1]:
#Start with importing the basic libraries for data cleaning python and numpy
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", None)

In [2]:
path = r"C:\Users\HP\Desktop\UI\important\Data Science\movie-success-prediction\data\processed\cleaned_movies_data.csv"
df = pd.read_csv(path)
df.head()

,name,imdb_id,year,ratings,vote_count,movie_duration,movie_certification,genre
0,Superman,tt5950044,2025,7.2,305000,129,12A,Action
1,One Battle After Another,tt30144839,2025,8.5,15000,161,15,Action
2,Demon Slayer: Kimetsu no Yaiba Infinity Castle,tt32820897,2025,8.6,37000,155,15,Action
3,KPop Demon Hunters,tt14205554,2025,7.6,79000,95,PG,Action
4,F1,tt16311594,2025,7.8,214000,155,12A,Action

In [3]:
#EDA
#Basic statistics
df.describe()

               year       ratings    vote_count  movie_duration
count  17894.000000  17894.000000  1.789400e+04    17894.000000
mean    1999.119649      6.549011  5.481271e+04      107.522298
std       25.422654      1.060663  1.497696e+05      386.480769
min     1897.000000      1.000000  5.000000e+00        0.000000
25%     1986.000000      6.000000  1.100000e+03       90.000000
50%     2009.000000      6.600000  6.300000e+03      100.000000
75%     2019.000000      7.300000  4.100000e+04      115.000000
max     2025.000000      9.900000  3.100000e+06    51420.000000

In [ ]:
#define a function that can return outliers:
def return_outliers(df, col):
    #defining 25th and 75th percentile and iqr
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_limit = q1 - iqr
    upper_limit = q3 + iqr
    col_outliers = df[(df[col] < lower_limit) | (df[col] > upper_limit)]
    return col_outliers

#I applied it on movie duration column using : return_outliers(df, "movie_duration"), this was to check if the 51,420 minutes output was not an error, which it wasn't.

In [13]:
#Average, minimum, maximum, and count rating per genre
describe_rating_genre = df.groupby("genre").agg(
    Average_Rating=("ratings", "mean"),
    Minimum_Rating=("ratings", "min"),
    Median_rating=("ratings", "median"),
    Maximum_Rating=("ratings", "max"),
    Genre_Count=("ratings", "count")
).reset_index().sort_values(by = "Average_Rating", ascending=False)

describe_rating_genre

,genre,Average_Rating,Minimum_Rating,Median_rating,Maximum_Rating,Genre_Count
17,News,7.272459,2.9,7.4,9.6,915
6,Documentary,7.175273,1.7,7.3,9.8,1189
7,Drama,7.038577,2.7,7.2,9.3,534
11,Game-Show,6.980000,3.2,7.7,8.6,5
3,Biography,6.941085,2.5,7.0,9.0,1346
5,Crime,6.837404,3.4,6.9,9.3,778
4,Comedy,6.712585,1.9,6.8,9.1,882
1,Adventure,6.632853,2.1,6.7,9.1,764
12,History,6.622026,2.2,6.7,9.9,681
0,Action,6.579478,2.2,6.6,9.1,1379
2,Animation,6.554590,1.0,6.7,9.2,1024
19,Romance,6.519144,2.9,6.5,9.5,397
24,War,6.503202,2.3,6.7,8.8,687
22,Talk-Show,6.430000,2.3,6.4,9.2,20
18,Reality-TV,6.400000,1.1,6.6,9.7,71
15,Musical,6.390635,1.4,6.5,9.2,961
10,Film-Noir,6.381730,3.4,6.4,8.2,925
14,Music,6.338257,1.2,6.5,9.7,941
16,Mystery,6.236250,2.3,6.3,8.2,320
8,Family,6.167424,1.5,6.2,9.5,528
9,Fantasy,6.144626,2.8,6.2,8.6,428
21,Sport,6.132706,1.3,6.2,9.6,957
23,Thriller,6.013636,4.4,6.1,8.0,22
25,Western,6.002035,1.9,6.2,8.4,1130
13,Horror,5.922775,1.7,6.0,8.5,764
20,Sci-Fi,5.796341,2.5,5.8,9.4,246

In [14]:
#Average, minimum, maximum, and count vote count per genre
describe_votes_genre = df.groupby("genre").agg(
    Average_vote_count=("vote_count", "mean"),
    Minimum_vote_count=("vote_count", "min"),
    Median_vote_count=("vote_count", "median"),
    Maximum_vote_count=("vote_count", "max"),
    Genre_Count=("vote_count", "count")
).reset_index().sort_values(by="Average_vote_count", ascending=False)

describe_votes_genre

,genre,Average_vote_count,Minimum_vote_count,Median_vote_count,Maximum_vote_count,Genre_Count
0,Action,225252.844090,24,137000.0,3100000,1379
7,Drama,205809.822097,37,119000.0,3100000,534
1,Adventure,156095.198953,95,73500.0,2400000,764
4,Comedy,137284.563492,31,92000.0,1300000,882
5,Crime,116194.465296,37,48000.0,2500000,778
13,Horror,59219.975131,8,29000.0,1000000,764
3,Biography,48577.733284,9,12000.0,1700000,1346
16,Mystery,42939.596875,13,24000.0,670000,320
19,Romance,38900.163728,9,27000.0,211000,397
9,Fantasy,35988.703271,8,20000.0,404000,428
23,Thriller,34758.181818,335,13000.0,173000,22
20,Sci-Fi,25440.170732,21,14000.0,636000,246
8,Family,16820.361742,10,7550.0,176000,528
2,Animation,12082.038086,6,3500.0,400000,1024
12,History,9542.604993,9,4800.0,111000,681
24,War,9488.425036,15,4800.0,146000,687
14,Music,8767.607864,6,2800.0,189000,941
21,Sport,6569.690700,6,1800.0,244000,957
15,Musical,5542.458897,8,1900.0,129000,961
6,Documentary,5291.867956,5,1600.0,134000,1189
25,Western,3727.354867,11,1200.0,149000,1130
10,Film-Noir,2698.683243,17,903.0,74000,925
17,News,184.460109,5,33.0,7400,915
18,Reality-TV,100.309859,7,30.0,950,71
22,Talk-Show,62.500000,8,26.5,386,20
11,Game-Show,56.200000,12,23.0,150,5

In [15]:
#Average, minimum, maximum, and count movie duration per genre
describe_votes_genre = df.groupby("genre").agg(
    Average_movie_duration=("movie_duration", "mean"),
    Minimum_movie_duration=("movie_duration", "min"),
    Median_movie_duration=("movie_duration", "median"),
    Maximum_movie_duration=("movie_duration", "max"),
    Genre_Count=("movie_duration", "count")
).reset_index().sort_values(by="Average_movie_duration", ascending=False)

describe_votes_genre

,genre,Average_movie_duration,Minimum_movie_duration,Median_movie_duration,Maximum_movie_duration,Genre_Count
6,Documentary,139.987384,0,92.0,51420,1189
12,History,122.270191,51,117.0,345,681
7,Drama,119.966292,46,117.0,374,534
3,Biography,117.791976,45,114.0,467,1346
15,Musical,117.544225,0,107.0,808,961
0,Action,116.299492,0,114.0,321,1379
5,Crime,113.371465,63,110.0,237,778
24,War,111.671033,48,109.0,393,687
19,Romance,109.952141,70,105.0,237,397
14,Music,109.233794,45,100.0,5220,941
16,Mystery,107.881250,64,105.0,262,320
1,Adventure,107.856021,54,102.0,227,764
4,Comedy,105.993197,53,104.0,189,882
9,Fantasy,103.880841,65,100.0,183,428
21,Sport,103.518286,0,100.0,354,957
8,Family,103.452652,58,99.0,192,528
20,Sci-Fi,101.243902,61,98.0,287,246
23,Thriller,97.954545,84,95.5,118,22
13,Horror,97.331152,45,95.0,191,764
25,Western,94.827434,0,93.0,320,1130
2,Animation,90.876953,44,90.0,177,1024
18,Reality-TV,89.661972,40,80.0,545,71
11,Game-Show,88.600000,45,90.0,150,5
22,Talk-Show,81.350000,20,76.5,191,20
10,Film-Noir,80.910270,51,81.0,135,925
17,News,80.339891,44,81.0,240,915